APP_SECRET=123456789
APP_API_URL=http://localhost:3333
APP_WEB_URL=http://localhost:3000

# Mail driver (ethereal | sendgrid | ses)
MAIL_DRIVER=ses

SENDGRID_API_KEY=

# Storage driver (disk | s3)
STORAGE_DRIVER=s3

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

# Postgres
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=172.28.80.1
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=
TYPEORM_DATABASE=go_barber2
TYPEORM_MIGRATIONS=src/shared/infra/typeorm/migrations/*.ts
TYPEORM_MIGRATIONS_DIR=src/shared/infra/typeorm/migration
TYPEORM_ENTITIES=src/modules/**/infra/typeorm/entities/*.ts,src/modules/**/infra/typeorm/entities/*.js

# Mongo
MONGO_URL=mongodb+srv://<username>:<password>@<host>/<db-name>?retryWrites=true&w=majority
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_PASSWORD=
MONGO_DATABASE=go_barber2
